{% extends 'web/base.html' %}
{% load static %}
{% block content %}

<div class="mt-150 mb-150">
    <div class="container">
        <div class="row">
            {% if output != "" %}
            <div class="col-lg-8 offset-lg-2 text-center">
            <div class="section-title">	
                <h3>Bài viết thuộc chủ đề<span class="orange-text"> {{output}}</span></h3>
                <h4><p>Tiêu đề bài viết là <strong>{{title}}</strong></p></h4>
            </div>
            </div>
            {% else %}
            {% endif %}
            <div class="col-lg-8">
                
                <div class="single-article-section">

                    <div class="comment-template">
                        <h4>Phân loại link bài viết</h4>
                        <p>Điền vào link bài viết mà bạn muốn biết chủ đề</p>
                        <form action="" method="post">
                            {% csrf_token %}
                            <p><textarea name="link" id="comment" cols="30" rows="10" placeholder="Đường dẫn đến bài viết..."></textarea></p>
                            <p><input type="submit" value="Submit"></p>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- latest news -->
<div class="latest-news pt-150 pb-150">
    <div class="container">

        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">	
                    <h3><span class="orange-text">Bài báo</span> liên quan</h3>
                    <p>Cập nhật những thông tin mới nhất</p>
                </div>
            </div>
        </div>
        <div class="row">
        {% for l in links %}
        
            <div class="col-lg-4 col-md-6">
                <div class="single-latest-news">
                    {% if l.imageurl != Null %}
                    <a href="{{ l.link }}"><div class="latest-news-bg"  style=" background-image: url('{{ l.imageurl }}');"></div></a>
                    {% else %}
                    <a href="{{ l.link }}"><div class="latest-news-bg news-bg-1"></div></a>
                    {% endif %}
                    <div class="news-text-box">
                        <h3><a href="{{ l.link }}">{{ l.title }}</a></h3>
                        
                        <a href="{{ l.link }}" class="read-more-btn"> Đọc tin <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        
        {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="news.html" class="boxed-btn">More News</a>
            </div>
        </div>
    </div>
</div>
<!-- end latest news -->
{% endblock %}